body {
  background-color: #ebebe0;
}

/** to debug **/
divxx {
  border: 2px solid black;
}
/*__*/

.inline-material-icon {
  vertical-align: bottom;
}

.avatar-image {
  width: 1.2em;  /* == header__font-size */
  height: 1.2em; /* == header__font-size */
  background-color: white;

  position: relative;
  display: inline-block;

  vertical-align: bottom;

  border-radius: 4px;

  background-image: url("https://avatars0.githubusercontent.com/u/55109130?s=460&v=4");
  background-size: 100%;

  border: 1px solid black;
}



header {
  font-size: 1.2em;
}


.header__task-title {
  float: left;
	margin-left: 10%;
	font-weight: bold;
}

.header__login-status-info {
  float: right;
  margin-right: 2%;
}

.header__sign-out {
  margin-left: 13px;
}