body {
  /*background-color: #C8C8C8;*/ /*dark*/
  background-color: #ebebe0;
  /*color: white;*/
}

#canvasMain {
	background-color: #e1e1d0;
	margin-left: auto;
	margin-right: auto;
	display: block;
  width: 512px;
  height: 512px;
}

#left {
  width: 18%;
  float: left;
}

.border {
  border: 2px solid black;
}


#TaskTitle {
	margin-left: 10%;
	font-size: 1.2em;
	font-weight: bold;
}

.pickListStyle, .pickListStub {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 2em;
}
.pickListStyle li, .pickListStub li {
	padding-left: 15px;
	cursor: pointer;
}
.pickListStub li {
	cursor: default;
}
  .pickListStyle li:hover, .pickListStub li:hover {
		/*font-weight: bold;*/
		background-color: #f5f5f0;
  }

.pickListStyle .selected, .pickListStyle .selected:hover {
		font-weight: bold;
	cursor: default;
	background-color: #ff9999;
}


.pickListStub li:hover {
  	font-weight: normal;
}

.editor-color-circle {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 0.7em;
}

ul li {
  margin-bottom: 1.6em;
}

.div-padding-top {
  padding-top: 1.6em;
}

.material-icons {
  margin-right: 0.7em;  
}

#right {
  width: 18%;
  float: right;
}

.picklist-title {
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.picklist-button {
  margin-left: 40%;
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.selected, .selected:hover {
 font-weight: bold;
	cursor: default;
	background-color: #ff9999;
}

