body {
/*  background-color: #c8c8c8; /* dark grey */
  background-color: #ebebe0; /* light grey +- */
}

#left-pane {
  width: 18%;
  float: left;
}

#right-pane {
  width: 18%;
  float: right;
}

.header__task-title {
	margin-left: 10%;
	font-size: 1.2em;
	font-weight: bold;
}

.inline-material-icon {
  vertical-align: bottom;
}

.user-message {
  position: fixed;
	bottom:0;
	right:0;

  width: 75%;
  margin-bottom: 10px;

  left: 50%;
  transform: translateX(-50%);

  border: 2px solid black;
  border-radius: 10px;

  font-size: 1.5em;
  font-weight: bold;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.error-popup {
  background-color: red;
  color: white;
}

.notification-popup {
  background-color: white;
  color: black;
}

/*
div {
  border: 2px solid green;
}
*/